
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container{
    padding: 56px 0;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

button{
    cursor: pointer;
}

h1{
    font-size: 56px;
    color: black;
    margin-bottom: 24px;
}

.red{
    color: rgb(173, 18, 18);
}

.btn__menu{
    max-height:100vh;
    overflow: hidden;
}

#movie__body{
    background-color: rgba(173, 18, 18, 0.349);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}


/*Navigation Bar Styles*/

.nav__container{
    width: 100%;
    padding-top: 32px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__logo{
    display: flex;
    align-items: center;
    margin-left: 12px;
    font-weight: 900;
    color:black;
    font-size: 24px;
    padding-bottom: 2px;
    letter-spacing: 0.8px;
}

.nav__logo--img{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    mix-blend-mode:multiply;
}

.nav__links{
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    margin-right: 12px;
}

.nav__link{
    font-size: 14px;
    color: black;
    font-weight: 600;
    letter-spacing: 0.35px;
    position: relative;
    text-decoration: none;
    padding: 4px;
    border-bottom: 2px solid transparent;
    letter-spacing: 0.35px;
    transition: all 0.3s ease;
    margin: 0 24px;
}

.nav__link--primary{
    margin: 0;
    background-color: rgb(173, 18, 18);
    color: white;
    padding: 10px 32px;
    border-radius: 9999px;
    margin-top: 2px;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 0.3s ease;
}

.btn__menu{
    background-color: transparent;
    font-size: 40px;
    border: none;
    color: black;
    display: none;
    justify-content: end;
    margin-right: 12px;
}

.menu__backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 240px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 0.3s ease;
}

.btn__menu--close{
    position: fixed;
    top: 40px;
    right: 30px;
    padding: 8px;
    color: black;
    font-size: 16px;
}

.menu__links{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link{
    color: black;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu__link--primary{
    color: white;
    padding: 12px 32px;
    background: rgb(173, 18, 18);
    border-radius: 500px;
    border: none;

}

.bg__img{
    width: 100%;
    object-fit: cover;
    margin-top: 20px;
    z-index: -1;
    opacity: 0.8;
    position: absolute;
    height: 500px;
}

/*Header Styles*/

.header__row{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 600px;
}

.header__btn{
    width: 100%;
    max-width: 448px;
    height: 48px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search__bar{
    text-align: left;
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(209, 213, 219);
    color: black;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    padding: 20px 192px 20px 32px;
    transition: border-color 0.3s ease;
}

.header__search--btn{
    z-index: 2;
    margin: 8px;
    width: 50px;
    height: calc(100% - 16px);
    border-radius: 500px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(173, 18, 18);
    font-size: 16px;
    font-weight: 700;
    transition: all 0.3s ease;
}

/*Section*/

.movies__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.movies__header--title{
    margin-bottom: 32px;
    font-size: 32px;
    text-align: center;
}

.movies{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.movie{
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.movie__img--wrapper{
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    height: 100%;
}

.movie__title{
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: 600;
}

.movie__year{
    font-size: 16px;
    color: rgb(66, 66, 66);
}

select{
    background-color: white;
    border-radius: 4px;
    border: 1px solid rgb(209, 213, 219);
    color: #606266;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 16px;
    width: 100%;
    max-width: 200px;
}

.movies__loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    font-size: 48px;
    color: rgb(173, 18, 18);
}

.movies__loading--spinner{
    display: none !important;
}

.movies__loading .movies__loading--spinner {
    display: block !important;
}

.fa-spinner{
    animation: rotate 600ms linear infinite;
}

@keyframes rotate{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1024px){
    .nav__links{
        display: none;
    }

    .btn__menu{
        display: block;
    }

    .header__row{
        flex-direction: column;
        align-items: center;
    }

    .header__description{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

@media (max-width: 768px){
    .movie{
        width: 50%;
        padding: 16px;
    }
}

@media (max-width: 640px){

    .search__bar{
        position: static;
        padding: 16px 0;
        padding-left: 32px;
        line-height: 1.5;
    }

    .header__search--btn{
        margin-bottom: 0px;
        line-height: 1.5;
        position: absolute;
    }

    .movie{
        width: 100%;
        padding: 12px;
    }
}